---
import '../styles/global.css';

const pageTitle = "Sobre Mim";

const identify = {
  firstName: "Valdmir",
  country: "Brasil",
  occupation: "Escritor Técnico",
  hobbies: ["fotografia", "observar pássaros", "beisebol"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Escrever Documentação"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
    <body>
        <a href="/">Início</a>
        <a href="/blog/">Blog</a>
		<a href="/about/">Sobre</a>
        <h1>{pageTitle}</h1>
		<p>Aqui estão alguns fatos sobre mim:</p>
		<ul>
			<li>Meu nome é {identify.firstName}.</li>
			<li>Eu moro no {identify.country} e eu trabalho como um {identify.occupation}.</li>
			{identify.hobbies.length >= 2 &&
				<li>Dois dos meus hobbies são: {identify.hobbies[0]} and {identify.hobbies[1]}</li>
			}
		</ul>
		<p>Minhas habilidades são:</p>
		<ul>
			{skills.map((habilidade) => <li class="skill">{habilidade}</li>)}
		</ul>
		{happy && <p>Estou feliz em estar aprendendo Astro!</p>}
		{finished && <p>Eu terminei esse tutorial!</p>}
		{goal === 3 ? <p>Minha meta é terminar em 3 dias.</p> : <p>Minha meta não é em 3 dias.</p>}
    </body>
</html>
